:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0fafb;
}
header {
  background-image: url('/bg-header-desktop.svg');
  background-color: #5da4a4;
  height: 156px;
  width: 100%;
}
a.tag {
  font-size: 12px;
  background-color: #eef6f6;
  color: #5da4a4;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
}
a.tag:hover {
  background-color: rgb(228, 236, 236);
}

.hidden {
  opacity: 0.2;
  transition-duration: .3s;
}
.active {
  opacity: 1;
  transition-duration: .3s;
}